
@{
    ViewBag.Title = "Cadastro - PF ";
}

<h2> Cadastro de Pessoa Física</h2> <br />

<!---------------- PESSOA FISICA - CADASTRO - CAMPOS --------------------------------->
<form action="/PessoaFisica/Adiciona" method="post">

    <table id="tbCadastroPF" class="table">

        <tr>
            <!-- Nome -->
            <td>Nome *</td>
            <td>
                <input id="ipPF_Nome" class="form-control" maxlength="50" name="pessoa.Nome" value="@ViewBag.Pessoa.Nome" />
            </td>

            <!-- CPF -->
            <td class="td_form">CPF *</td>
            <td>
                <input id="ipPF_CPF" class="form-control" size="11" maxlength="11" name="pessoa.Cpf" value="@ViewBag.Pessoa.Cpf" />
            </td>

            <!-- RG -->
            <td class="td_form">RG *</td>
            <td>
                <input id="ipPF_RG" class="form-control" size="9" maxlength="9" name="pessoa.Rg" value="@ViewBag.Pessoa.Rg" />
            </td>

        </tr>
        <tr>

            <!-- Sexo -->
            <!-- 
                td>Sexo</td>
            <td>
                <input type="radio" id="sexoPF_F" name="escolhaSexo" checked>
                <label for="huey" style="padding: 5px; "> Feminino  </label>

                <input type="radio" id="sexoPF_M" name="escolhaSexo" />
                <label for="huey" style="padding: 5px;">  Masculino  </label>
            </td>
                -->

            <td>Sexo</td>
            <td>
                <select id="idSexo" name="pessoa.Sexo" value="@ViewBag.Pessoa.Sexo" class="form-control">

                    <option value="F" > Feminino </option>
                    <option value="M" > Masculino </option>

                </select>
            </td>

            <!-- Data de Nascimento -->
            <td class="td_form">Data de Nascimento</td>
            <td>
                <input id="ipPF_Nascimento" class="form-control" size="10" maxlength="10" name="pessoa.DataDeNascimento" value="@ViewBag.Pessoa.DataDeNascimento"  />
            </td>

            <!-- Telefone -->
            <td class="td_form">Telefone</td>
            <td>
                <input id="ipPF_Telefone" class="form-control" size="11" maxlength="11" name="pessoa.Telefone" value="@ViewBag.Pessoa.Telefone" />
            </td>

        </tr>
        <tr>

            <!-- Endereço -->
            <td>Endereço</td>
            <td>
                <input id="ipPF_Endereco" class="form-control" size="50" maxlength="50" name="pessoa.Endereco" value="@ViewBag.Pessoa.Endereco" />
            </td>

            <!-- Número -->
            <td class="td_form">Número</td>
            <td>
                <input id="ipPF_Numero" class="form-control" size="6" maxlength="6" name="pessoa.Numero" value="@ViewBag.Pessoa.Numero" />
            </td>

            <!-- Complemento -->
            <td class="td_form">Complemento</td>
            <td>
                <input id="ipPF_Complemento" class="form-control" size="20" maxlength="20" name="pessoa.Complemento" value="@ViewBag.Pessoa.Complemento" />
            </td>

        </tr>
        <tr>

            <!-- Bairro -->
            <td>Bairro</td>
            <td>
                <input id="ipPF_Bairro" class="form-control" size="30" maxlength="30" name="pessoa.Bairro" value="@ViewBag.Pessoa.Bairro" />
            </td>

            <!-- Cidade -->
            <td class="td_form">Cidade</td>
            <td>
                <input id="ipPF_Cidade" class="form-control" size="30" maxlength="30" name="pessoa.Cidade" value="@ViewBag.Pessoa.Cidade" />
            </td>

            <!-- UF -->
            <td class="td_form">UF</td>
            <td>
                <input id="ipPF_UF" class="form-control" size="2" maxlength="2" type="text" name="pessoa.Uf" value="@ViewBag.Pessoa.Uf" />
            </td>

        </tr>
        <tr>

            <!-- CEP -->
            <td>CEP</td> <td> <input id="ipPF_CEP" class="form-control" type="number" size="8" maxlength="8" name="pessoa.Cep" value="@ViewBag.Pessoa.Cep" /> </td>

            <!-- E-mail -->
            <td class="td_form">E-mail</td>
            <td>
                <input id="ipPF_Email" class="form-control" maxlength="50" name="pessoa.Email" value="@ViewBag.Pessoa.Email" />
            </td>
        </tr>

    </table>

    <div id="botoes">

        <!-- Btn - Cadastrar - ->
        <button id="btnCadastrar_PF" type="submit" class="btn btn-success" style="width: 120px; margin: 5px;"> CADASTRAR </button> -->

        <input id="btnCadastrar_PF" type="submit" class="btn btn-success" style="width: 120px; margin: 5px;" value="CADASTRAR" /> 

        <!-- Btn - Cancelar -->
        <a href="@Url.Action("Index", new { id = 1 })" id="btnCancelar_PF" class="btn btn-danger"  style="width: 120px; margin: 5px;">CANCELAR</a> 

    </div>

    <br />

    <h4>@Html.ActionLink("Voltar", "Index", "PessoaFisica")</h4>

    <br />

    <h5>* - Campo obrigatório.</h5>

</form>
