
@model IEnumerable<Estacionamento_.Models.PessoaFisica>

@{
    ViewBag.Title = "Pessoa Física";
}

<table width="100%" style="margin: 5px;">

    <tr>
        <td width="70%"><h2> Clientes - Pessoa F </h2></td>

        <td> <a href="@Url.Action("Busca",    new { id = 1 })" class="btn btn-primary" style="width: 120px; margin: 5px;">BUSCAR</a> </td>

        <td> <a href="@Url.Action("Cadastro", new { id = 1 })" class="btn btn-success" style="width: 120px; margin: 5px;">CADASTRAR</a> </td>
    </tr>

</table>

<form >

    <br />

    <table class="table" style="visibility: visible; ">

        <thead>

            <tr>

                <th class="td_form"> ID     </th>
                <th class="td_form"> Nome    </th>
                <th class="td_form"> CPF     </th>
                <th class="td_form"> Telefone</th>
                <th class="td_form"> Editar  </th>

            </tr>

        </thead>

        <tbody>

            @foreach (var pessoa in Model)
             {
                <tr>
                    <td class="td_form">@pessoa.IdPessoaF </td>
                    <td class="td_form">@pessoa.Nome      </td>
                    <td class="td_form">@pessoa.Cpf       </td>
                    <td class="td_form">@pessoa.Telefone  </td>
                    <td class="td_form"> <a href="@Url.Action("Visualiza", new { id = pessoa.IdPessoaF })" class="btn btn-info" style="width: 80px;">Editar</a> </td>
                </tr>
             }

        </tbody>

    </table>

    <br />
    <br />
    <br />
    <br />
</form>